* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.flexContainer {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 130px;
  color: #ffdd58;
  background-color: #2a77aa;
  border-radius: 15px;
  padding: 10px;
}

.title-logo {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 30px;
  border-bottom: #c5c3c6 solid 1px;
}

.title {
  margin-top: 4px;
  padding-left: 5px;
}

#timer, #score-name-input {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

#quizSection {
  margin: 200px 50px;
  color: #2a77aa;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.button {
  text-align: center;
  color: #2a77aa;
  background-color: #ffdd58;
  padding: 10px;
  margin: 25px;
  border: #2a77aa 2px solid;
  border-radius: 15px;
  font-size: 30px;
  box-shadow: 1px 2px;
  outline: none;
}

#name {
  height: 56px;
  border: #2a77aa solid 2px;
  color: #2a77aa;
  border-radius: 15px;
  font-size: 30px;
  outline: none;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: translateY(4px)
}

#logo {
  height: 40px;
  width: auto;
}
