* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

header h4 {
  color: #fff;
  background-color: #2a77aa;
  border: solid;
  border-radius: 15px;
  padding: 8px;
}

.flex {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.title-logo {
  display: flex;
  padding: 15px 30px;
  border-bottom: #c5c3c6 solid 1px;
}

.title {
  margin-top: 4px;
  padding-left: 5px;
}

#timer {
  font-size: 30px;
  margin: 10px;
}

#quizSection {
  margin: 100px auto;
  color: #2a77aa;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.button {
  text-align: center;
  color: #2a77aa;
  background-color: #ffdd58;
  padding: 10px;
  margin: 25px;
  border: #2a77aa 2px solid;
  border-radius: 15px;
  font-size: 30px;
  box-shadow: 1px 2px;
  outline: none;
}

#name {
  width: 250px;
  height: 55px;
  border: #2a77aa solid 2px;
  color: #2a77aa;
  border-radius: 15px;
  font-size: 30px;
  outline: none;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

#logo {
  height: 40px;
  width: auto;
}
